# Intellij Idea stuff
*.iml
.idea/

# eclipse stuff
.classpath
.project

# important stuff that shouldn't be synced
build/
dist/

# other stuff
/bin/
out/

# gradle stuff
gradle/
.gradle/
*.ipr
*.iws
